.container {
    width: var(--container-width);
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding-right: var(--container-fluid-padding);
    padding-left: var(--container-fluid-padding);
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--row-gap);
    width: 100%;
}

.col {
    padding: 0 var(--col-padding);
    text-align: center;
    font-size: var(--col-font-size);
}

.d-block{
    display: block;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }


.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

