/* Responsive Utilities */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Columnas */
    .col-sm-1 { grid-column: span 1; }
    .col-sm-2 { grid-column: span 2; }
    .col-sm-3 { grid-column: span 3; }
    .col-sm-4 { grid-column: span 4; }
    .col-sm-5 { grid-column: span 5; }
    .col-sm-6 { grid-column: span 6; }
    .col-sm-7 { grid-column: span 7; }
    .col-sm-8 { grid-column: span 8; }
    .col-sm-9 { grid-column: span 9; }
    .col-sm-10 { grid-column: span 10; }
    .col-sm-11 { grid-column: span 11; }
    .col-sm-12 { grid-column: span 12; }

    /* Flexbox */
    .sm-flex-row { flex-direction: row; }
    .sm-flex-column { flex-direction: column; }
    .sm-justify-start { justify-content: flex-start; }
    .sm-justify-center { justify-content: center; }
    .sm-justify-end { justify-content: flex-end; }
    .sm-align-start { align-items: flex-start; }
    .sm-align-center { align-items: center; }
    .sm-align-end { align-items: flex-end; }

    /* Padding */
    .sm-p-1 { padding: 0 var(--padding-small); }
    .sm-p-2 { padding: 0 var(--padding-medium); }
    .sm-p-3 { padding: 0 var(--padding-large); }

    /* Display */
    .d-sm-none { display: none !important; }
    .d-sm-block { display: block !important; }

    /* Width */
    .w-sm-10 { width: 10%; }
    .w-sm-20 { width: 20%; }
    .w-sm-30 { width: 30%; }
    .w-sm-40 { width: 40%; }
    .w-sm-50 { width: 50%; }
    .w-sm-60 { width: 60%; }
    .w-sm-70 { width: 70%; }
    .w-sm-80 { width: 80%; }
    .w-sm-90 { width: 90%; }
    .w-sm-100 { width: 100%; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Columnas */
    .col-md-1 { grid-column: span 1; }
    .col-md-2 { grid-column: span 2; }
    .col-md-3 { grid-column: span 3; }
    .col-md-4 { grid-column: span 4; }
    .col-md-5 { grid-column: span 5; }
    .col-md-6 { grid-column: span 6; }
    .col-md-7 { grid-column: span 7; }
    .col-md-8 { grid-column: span 8; }
    .col-md-9 { grid-column: span 9; }
    .col-md-10 { grid-column: span 10; }
    .col-md-11 { grid-column: span 11; }
    .col-md-12 { grid-column: span 12; }

    /* Flexbox */
    .md-flex-row { flex-direction: row; }
    .md-flex-column { flex-direction: column; }
    .md-justify-start { justify-content: flex-start; }
    .md-justify-center { justify-content: center; }
    .md-justify-end { justify-content: flex-end; }
    .md-align-start { align-items: flex-start; }
    .md-align-center { align-items: center; }
    .md-align-end { align-items: flex-end; }

    /* Padding */
    .md-p-1 { padding: 0 var(--padding-small); }
    .md-p-2 { padding: 0 var(--padding-medium); }
    .md-p-3 { padding: 0 var(--padding-large); }

    /* Display */
    .d-md-none { display: none !important; }
    .d-md-block { display: block !important; }


    /* Width */
    .w-md-10 { width: 10%; }
    .w-md-20 { width: 20%; }
    .w-md-30 { width: 30%; }
    .w-md-40 { width: 40%; }
    .w-md-50 { width: 50%; }
    .w-md-60 { width: 60%; }
    .w-md-70 { width: 70%; }
    .w-md-80 { width: 80%; }
    .w-md-90 { width: 90%; }
    .w-md-100 { width: 100%; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Columnas */
    .col-lg-1 { grid-column: span 1; }
    .col-lg-2 { grid-column: span 2; }
    .col-lg-3 { grid-column: span 3; }
    .col-lg-4 { grid-column: span 4; }
    .col-lg-5 { grid-column: span 5; }
    .col-lg-6 { grid-column: span 6; }
    .col-lg-7 { grid-column: span 7; }
    .col-lg-8 { grid-column: span 8; }
    .col-lg-9 { grid-column: span 9; }
    .col-lg-10 { grid-column: span 10; }
    .col-lg-11 { grid-column: span 11; }
    .col-lg-12 { grid-column: span 12; }

    /* Flexbox */
    .lg-flex-row { flex-direction: row; }
    .lg-flex-column { flex-direction: column; }
    .lg-justify-start { justify-content: flex-start; }
    .lg-justify-center { justify-content: center; }
    .lg-justify-end { justify-content: flex-end; }
    .lg-align-start { align-items: flex-start; }
    .lg-align-center { align-items: center; }
    .lg-align-end { align-items: flex-end; }

    /* Padding */
    .lg-p-1 { padding: 0 var(--padding-small); }
    .lg-p-2 { padding: 0 var(--padding-medium); }
    .lg-p-3 { padding: 0 var(--padding-large); }

    /* Display */
    .d-lg-none { display: none !important; }
    .d-lg-block { display: block !important; }

    /* Width */
    .w-lg-10 { width: 10%; }
    .w-lg-20 { width: 20%; }
    .w-lg-30 { width: 30%; }
    .w-lg-40 { width: 40%; }
    .w-lg-50 { width: 50%; }
    .w-lg-60 { width: 60%; }
    .w-lg-70 { width: 70%; }
    .w-lg-80 { width: 80%; }
    .w-lg-90 { width: 90%; }
    .w-lg-100 { width: 100%; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Columnas */
    .col-xl-1 { grid-column: span 1; }
    .col-xl-2 { grid-column: span 2; }
    .col-xl-3 { grid-column: span 3; }
    .col-xl-4 { grid-column: span 4; }
    .col-xl-5 { grid-column: span 5; }
    .col-xl-6 { grid-column: span 6; }
    .col-xl-7 { grid-column: span 7; }
    .col-xl-8 { grid-column: span 8; }
    .col-xl-9 { grid-column: span 9; }
    .col-xl-10 { grid-column: span 10; }
    .col-xl-11 { grid-column: span 11; }
    .col-xl-12 { grid-column: span 12; }

    /* Flexbox */
    .xl-flex-row { flex-direction: row; }
    .xl-flex-column { flex-direction: column; }
    .xl-justify-start { justify-content: flex-start; }
    .xl-justify-center { justify-content: center; }
    .xl-justify-end { justify-content: flex-end; }
    .xl-align-start { align-items: flex-start; }
    .xl-align-center { align-items: center; }
    .xl-align-end { align-items: flex-end; }

    /* Padding */
    .xl-p-1 { padding: 0 var(--padding-small); }
    .xl-p-2 { padding: 0 var(--padding-medium); }
    .xl-p-3 { padding: 0 var(--padding-large); }

    /* Display */
    .d-xl-none { display: none !important; }
    .d-xl-block { display: block !important; }

    /* Width */
    .w-xl-10 { width: 10%; }
    .w-xl-20 { width: 20%; }
    .w-xl-30 { width: 30%; }
    .w-xl-40 { width: 40%; }
    .w-xl-50 { width: 50%; }
    .w-xl-60 { width: 60%; }
    .w-xl-70 { width: 70%; }
    .w-xl-80 { width: 80%; }
    .w-xl-90 { width: 90%; }
    .w-xl-100 { width: 100%; }
}
